<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="always" name="referrer">
    <title>[title] - 中迈融资租赁（广州）有限公司</title>
    <link rel="icon" type="image/x-icon" href="__PUBLIC__/favicon.ico">
    <link rel="stylesheet" href="__PUBLIC__/Home/PCcss/base.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/PCcss/index.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/PCcss/common.css">
    <script type="text/javascript" src="__PUBLIC__/Home/PCscript/area.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/Home/confirm/jquery.confirm.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/confirm/index.confirm.css">
    <!--[if IE]><script src="__PUBLIC__/Home/PCscript/html5.js"></script><![endif]-->