<include file="Public:meta" title="管理员编辑"/>
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" id="form-admin-edit">
	<input type="hidden" name="id" value="{$ulist.id}"/>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>管理员账号：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="{$ulist.username}" placeholder="" id="username" name="username" readonly="readonly">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>管理员昵称：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="{$ulist.nickname}" placeholder="" id="nickname" name="nickname">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">新密码：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="password" class="input-text" autocomplete="off" value="" placeholder="新密码为空则不修改" id="password" name="password">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">确认密码：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="password" class="input-text" autocomplete="off"  placeholder="确认新密码" id="repassword" name="repassword">
		</div>
	</div>	
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">手机：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="{$ulist.phone}" placeholder="" id="phone" name="phone">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">邮箱：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="{$ulist.email}" placeholder="@" name="email" id="email">
		</div>
	</div>
	<if condition="$us neq 1">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">是否开启：</label>
		<div class="formControls col-xs-8 col-sm-9 skin-minimal">
			<if condition="$ulist.status eq 1">
			<div class="radio-box">
				<input name="status" value="1" type="radio" id="status-1" checked>
				<label for="status-1">开启</label>
			</div>
			<div class="radio-box">
				<input type="radio" id="status-0" value="0" name="status">
				<label for="status-0">禁用</label>
			</div>
			<else/>
			<div class="radio-box">
				<input name="status" value="1" type="radio" id="status-1">
				<label for="status-1">开启</label>
			</div>
			<div class="radio-box">
				<input type="radio" id="status-0" value="0" name="status" checked>
				<label for="status-0">禁用</label>
			</div>
			</if>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">角色：</label>
		<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
			<select class="select" name="adminrole" size="1">
				<option value="0">选择角色</option>
				<volist name="rList" id="vr">
					<if condition="$vr.id eq $roleid">
					<option value="{$vr.id}" selected="selected">{$vr.title}</option>
					<else/>
					<option value="{$vr.id}">{$vr.title}</option>
					</if>
				</volist>
			</select>
			</span> </div>
	</div>
	</if>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">备注：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<textarea name="remark" cols="" rows="" class="textarea"  placeholder="说点什么...100个字符以内" dragonfly="true" onKeyUp="textarealength(this,100)">{$ulist.remark}</textarea>
			<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
		</div>
	</div>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		</div>
	</div>
	</form>
</article>

<include file="Public:footscript"/> 

<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript">
$(function(){	
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-admin-edit").validate({
		rules:{
			username:{
				required:true,
				minlength:4,
				maxlength:16
			},
			nickname:{
				required:true,
				minlength:1,
				maxlength:16
			},
			password:{
				required:false,
				minlength:6,
				maxlength:20
			},
			repassword:{
				required:false,
				equalTo: "#password"
			},
			phone:{
				required:false,
				isPhone:true,
			},
			email:{
				required:false,
				email:true,
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			var url = "{:U('Admin/editadmin?dosubmit=1')}";
			$.post(url,$(form).serialize(),function(data){
				str = $.parseJSON(data);
                if(str.error==0){
                	alert(str.msg);
                	parent.refresh();
                	var index = parent.layer.getFrameIndex(window.name);
        			parent.$('.btn-refresh').click();
        			parent.layer.close(index);
                }else{
                	alert(str.msg);
                }
			});
		}
	});
});
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>