<include file="Common:meta" title="实名验证"/>
</head>
<body>
<header class="top_header_box">
    <div class="top_header">
        <div class="left"><a href="javascript:void(0);" class="link_a back_a goBack"></a></div>
        <div class="center"><p class="title">实名认证</p></div>
        <div class="right">
        </div>
    </div>
</header>
<div class="co_second_warp co_login_warp">
    <div class="co_second_warp_box">
        <div class="co_my_ca_info">
            <div class="title">实名认证须知</div>
            <div class="info">
                <strong>实名认证前，您需要：</strong><br />
                1、提供本人有效期内身份证件信息，不得使用或冒用他人信息。<br />
                2、阅读并同意《中迈实名认证服务协议》<br />
                <strong>实名认证后，您可以：</strong><br />
                1、快速申请、极速审批特权<br />
                2、提升申请额度、提高账户安全等级
            </div>
        </div>
        <ul class="lo_form">
            <li>
                <div class="button_box">
                    <a href="{:U('User/name')}" class="button_a red">立即申请</a>
                </div>
                <div class="tip">
                    <p class="text">
                        <i class="tick"></i>我已授权<a href="javascript:void(0)" class="red">《认证服务协议》</a>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>