<aside class="skin_app_footer">
  <ul class="skin_app_footer_ul">
    <li><a href="{:U('Index/index')}">首页</a></li>
    <li><a href="{:U('Cart/cart')}">购物车</a></li>
    <li><a href="{:U('User/my_collection_goods')}">我的收藏</a></li>
    <li><a href="{:U('User/my')}">个人</a></li>
  </ul>
</aside>

<footer class="skin_footer">
  <ul class="skin_footer_ul">
    <li><a href="{:U('Index/index')}">首页</a></li>
    <li><a href="{:U('Index/store')}">关于我们</a></li>
    <li><a href="javascript:;">帮助中心</a></li>
    <li><a href="javascript:;">客服电话</a></li>

    <li class="clear"></li>
  </ul>
  <div class="skin_footer_switch">
    <dl class="skin_footer_switch_pc m_button">
      <dt><a href="javascript:;"></a></dt>
      <dd>电脑版</dd>
    </dl>
    <dl class="skin_footer_switch_m ac m_button">
      <dt><a href="javascript:;"></a></dt>
      <dd>手机版</dd>
    </dl>
  </div>
  <p class="skin_footer_icp">版权所有 © 商城All Rights Reserved.<br>
    <!--粤ICP备 1352256-3-->粤ICP备00000000号-1</p>
</footer>