<include file="common:head" title="我的优惠卷"/>
</head>
<body>
<header class="skin_topHeader">
    <div class="skin_topLeft"><a href="javascript:history.go(-1);" class="skin_back_icon"></a></div>
    <h1><span>我的优惠卷</span></h1>
    <div class="skin_topRight"><a href="javascript:void(0);" class="skin_menu_icon showMenu" data-obj="menuSection"></a></div>
</header>
<include file="Common:link" />
    <section class="skin_content clearfix">
    <p style="line-height: 35px;text-align: center;margin-top: 10px;">暂无优惠卷~~</p>
    </section>
<include file="Common:footer" />
</body>
</html>