<include file="common:head" title="订单支付"/>

</head>
<body>
<header class="skin_topHeader">
    <div class="skin_topLeft"><a href="{:U('User/order')}" class="skin_back_icon"></a></div>
    <h1><span>提交订单</span></h1>
    <div class="skin_topRight"><a href="javascript:void(0);" class="skin_menu_icon showMenu" data-obj="menuSection"></a></div>
</header>
<include file="Common:link" />
<div class="index_kuang">
    <section class="myInfoCon">
        <div class="login_div">
            <form action="my.html">
                <ul class="form_ul">
                    <li>你的订单已提交成功，我们会在最短的时间内联系您，<a href="{:U('User/order')}" style="color: #e60012;text-decoration: underline;">返回我的订单</a></li>
                </ul>
            </form>
        </div>
    </section>
</div>
<include file="Common:footer" />
</body>
</html>