<include file="common:head" title="注册"/>
<script type="text/javascript">
	var now_code=0;
	function getCode(u){
		if(now_code==1) return false;
		$.ajax({url:u,type:"POST",async:true,data:{phone:$("#phone").val()},success:function(data){
            var time=60;
            	if(parseInt(data)==1){
					$('#getCode').html('60s后可重新获取');
					$('#getCode').addClass('hui_bg');
					now_code=1;
	                var t=setInterval(function(){
	                    time--;
	                    $('#getCode').html(time+'s后可重新获取');
	                    if (time==1) {                                          //当验证码倒计时为0时,需要重新发送验证码
	                        clearInterval(t);
	                    }
	                },1000);
					setTimeout(again,60000);
				}
				if(parseInt(data)==2){
					$.confirm({
		                'title'		: '提示',
		                'message'	: '手机号码格式不正确！',
		                'buttons'	: {
		                    '确定'	: {
		                        'class'	: 'all',
		                        'action': function(){
		                        }
		                    }
		                }
		            });
		            return false;
				}
				if(parseInt(data)==3){
					$.confirm({
		                'title'		: '提示',
		                'message'	: '操作过于频繁！',
		                'buttons'	: {
		                    '确定'	: {
		                        'class'	: 'all',
		                        'action': function(){
		                        }
		                    }
		                }
		            });
		            return false;
				}
			},
			error:function(){
				$.confirm({
	                'title'		: '提示',
	                'message'	: '网络有问题！！请检查网络连接！',
	                'buttons'	: {
	                    '确定'	: {
	                        'class'	: 'all',
	                        'action': function(){
	                        }
	                    }
	                }
	            });
	            return false;
			}
		});
	}
	function again(){
		now_code=0;
		$('#getCode').html('重新获取验证码');
		$('#getCode').removeClass('hui_bg');
	}
	$(function(){
		$('#doReg').on('click',function(){
			//向后台注册AJAX 提交
	        $.ajax({
	            cache: true,
	            type: "POST",
	            url:"{:U('User/reg')}",
	            data:$('#register_form').serialize(),
	            async: false,
	            error: function(request) {
	            	$.confirm({
	                    'title'		: '提示',
	                    'message'	: '网络有问题！！请检查网络连接！',
	                    'buttons'	: {
	                        '确定'	: {
	                            'class'	: 'all',
	                            'action': function(){
	                            }
	                        }
	                    }
	                });
	                return false;
	            },
	            success: function(data) {
	            	str = $.parseJSON(data);
	    			if(str.code=='000'){
	    				$.confirm({
	    	                'title'		: '提示',
	    	                'message'	: str.msg,
	    	                'buttons'	: {
	    	                    '确定'	: {
	    	                        'class'	: 'all',
	    	                        'action': function(){
	    	                        	location.href="{:U('User/my')}";
	    	                        }
	    	                    }
	    	                }
	    	            });
	    	            return false;
	    			}else{
	    				$.confirm({
	    	                'title'		: '提示',
	    	                'message'	: str.msg,
	    	                'buttons'	: {
	    	                    '确定'	: {
	    	                        'class'	: 'all',
	    	                        'action': function(){
	    	                        }
	    	                    }
	    	                }
	    	            });
	    	            return false;
	    			}
	            }
	        });
		});
	});
</script>
</head>
<body>
<header class="skin_topHeader">
  <div class="skin_topLeft"><a href="javascript:history.go(-1);" class="skin_back_icon"></a></div>
  <h1><span>注册账号</span></h1>
  <div class="skin_topRight"><a href="javascript:void(0);" class="skin_menu_icon showMenu" data-obj="menuSection"></a></div>
</header>
<include file="Common:link" />

<div class="index_kuang">
<section class="myInfoCon">
	<form id="register_form">
	<input type="hidden" name="inde" value="1" />
    <div class="login_div">
	    <ul class="form_ul">
	    <li><input type="text" value="" name="phone" id="phone" placeholder="请输入您的手机号" class="inputText inputText_left"><a href="javascript:void(0);" onclick="getCode('{:U('Index/getPhoneCode')}')" class="inputText_right" id="getCode">获取验证码</a><div class="clear"></div></li>
	    <li><input type="text" name="phonecode" placeholder="请输入短信验证码" class="inputText"></li>
	    <li><input type="password" name="password" placeholder="请输入您的密码" class="inputText"></li>
	    <li class="submit_li"><input type="button" value="注 册" class="inputSubmit" id="doReg"></li>
	    <li class="formTx_li"><p class="left_f">点击注册已经阅读并同意<a href="javascript:;" class="reb">《服务协议》</a></p></li>
	    </ul>
    </div>
    </form>
  </section>
  
</div>


<include file="Common:footer" />
</body>
</html>
