<include file="Public:meta" title="信息查看"/>
</head>
<body>
<article class="page-container">
    <table class="table table-border table-bordered table-striped">
        <tr>
            <th width="30%">职业：</th>
            <td width="70%">{$xin.widName}</td>
        </tr>
        <tr>
            <th width="30%">工资收入：</th>
            <td width="70%">{$xin.pidName}</td>
        </tr>
        <tr>
            <th width="30%">社保情况：</th>
            <td width="70%">{$xin.sidName}</td>
        </tr>
        <tr>
            <th width="30%">公积金：</th>
            <td width="70%">{$xin.gidName}</td>
        </tr>
        <tr>
            <th width="30%">信用记录：</th>
            <td width="70%">{$xin.xidName}</td>
        </tr>
        <tr>
            <th width="30%">住房状态：</th>
            <td width="70%">{$xin.zidName}</td>
        </tr>
    </table>
</article>
<include file="Public:footscript"/>
</body>
</html>