<footer class="fo_function">
    <div class="fo_function_box">
        <ul class="lo_function">
            <li class="ac">
                <i class="img home"></i>
                <a href="{:U('Index/index')}" class="title">首页</a>
            </li>
            <li class="hot">
                <a href="{:U('Index/lists')}">
                <i class="img cc"></i>
                <p class="title">我要买车</p>
                </a>
            </li>
            <li>
                <i class="img user"></i>
                <a href="{:U('User/user')}" class="title">我的</a>
            </li>
        </ul>
    </div>
</footer>