<include file="Public:meta" title="申请详情"/>
</head>
<body>
<article class="page-container">
    <form class="form form-horizontal">
        <table class="table table-border table-bordered table-striped">
            <tr>
                <th width="15%">申请人：</th>
                <td width="20%">{$info.name}</td>
                <th width="15%">申请状态：</th>
                <td width="20%"><p style="{$ord['color']}">{$info.state}</p></td>
                <th width="15%">手机号码：</th>
                <td width="20%">{$info.phone}</td>
            </tr>
            <tr>
                <th>性别：</th>
                <td><if condition="$info.sex eq 1">男<else/>女</if></td>
                <th>预约城市：</th>
                <td>{$info.city}</td>
                <th>到店时间：</th>
                <td>{$info.etime}</td>
            </tr>
            <tr>
                <td colspan="6">商品信息：</td>
            </tr>
            <tr>
                <th>商品图片：</th>
                <td colspan="5"><img src="__PUBLIC__/upload/product/{$pro.img}" alt="" style="width: 120px;"></td>
            </tr>
            <tr>
                <th>商品名称：</th>
                <td colspan="2">{$pro.title}</td>
                <th>参考报价：</th>
                <td colspan="2">{$pro.money}万</td>
            </tr>
            <tr>
                <th>首付：</th>
                <td colspan="2">{$pro.cost}万</td>
                <th>月供：</th>
                <td colspan="2">{$pro.price}元({$pro.num}月)</td>
            </tr>
            <tr>
                <th>审核时间：</th>
                <td colspan="5">{$info.otime}</td>
            </tr>
        </table>

    </form>
</article>

<include file="Public:footscript"/>

</body>
</html>