<include file="Public:meta" title="栏目添加"/>
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" id="form-column-add">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>栏目名称：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="" placeholder="请输入栏目名称" id="name" name="name">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">是否显示：</label>
		<div class="formControls col-xs-8 col-sm-9 skin-minimal">
			<div class="radio-box">
				<input name="display" type="radio" value="1" id="display-1" checked>
				<label for="display-1">显示</label>
			</div>
			<div class="radio-box">
				<input type="radio" id="display-0" value="0" name="display">
				<label for="display-0">不显示</label>
			</div>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">栏目类型：</label>
		<div class="formControls col-xs-8 col-sm-9 skin-minimal">
			<div class="radio-box">
				<input name="page" type="radio" value="1" id="page-1" checked>
				<label for="page-1">单页</label>
			</div>
			<div class="radio-box">
				<input type="radio" id="page-2" value="2" name="page">
				<label for="page-2">列表</label>
			</div>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">父级栏目：</label>
		<div class="formControls col-xs-8 col-sm-9"> 
			<span class="select-box" style="width:150px;">
			<select class="select sel" name="pid">
				<option value="0" class="sel-level1"> 作为父级栏目   </option>
				<volist name="column" id="vc">
		     	<option value="{$vc.id}" class="sel-level2"> {$vc.name}  </option>
		     	</volist>
			</select>
			</span> 
		</div>
	</div>
	<div id="model">
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">排序：</label>
		<div class="formControls col-xs-8 col-sm-2">
			<input type="text" class="input-text" value="0" placeholder="请输入序号" id="sort" name="sort">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">前端标识：</label>
		<div class="formControls col-xs-8 col-sm-2">
			<input type="text" class="input-text" value="" placeholder="请输入标识" id="sign" name="sign">		
		</div>
		<span style="color:red;">*仅供开发者使用</span>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">备注：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<textarea name="remark" cols="" rows="" class="textarea"  placeholder="说点什么...100个字符以内" dragonfly="true" onKeyUp="textarealength(this,100)"></textarea>
			<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
		</div>
	</div>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		</div>
	</div>
	</form>
</article>

<include file="Public:footscript"/> 

<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	$("#form-column-add").validate({
		rules:{
			name:{
				required:true,
			},
			display:{
				required:true,
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			var url = "{:U('Content/addcolumn?dosubmit=1')}";
			$.post(url,$(form).serialize(),function(data){
				str = $.parseJSON(data);
                if(str.error==0){
                	alert(str.msg);
                	parent.refresh();
                	var index = parent.layer.getFrameIndex(window.name);
        			parent.$('.btn-refresh').click();
        			parent.layer.close(index);      			
                }else{
                	alert(str.msg);
                }
			});
		}
	});
});
</script> 
</body>
</html>