<include file="common:head" title="商品列表"/>
</head>
<body>
<header class="skin_topHeader">
  <div class="skin_topLeft"><a href="javascript:history.go(-1);" class="skin_back_icon"></a></div>
  <div class="skin_topSel">
    <form action="{:U('Index/pro')}" method="get">
      <input class="topSel_input_text" placeholder="请输入你需要搜索的关键字" name="keyword" value="{$keyword}">
    </form>
  </div>
  <div class="skin_topRight"><a href="javascript:void(0);" class="skin_menu_icon showMenu" data-obj="menuSection"></a></div>
</header>
<include file="Common:link" />
<div class="pro_con">
  <aside class="pro_function_aisde">
  	<ul class="pro_function_ul">
  	  <li><a href="javascript:void(0);">分类</a>
      	<div class="pro_function_second_div">
      		<volist name="classify" id="cla">
              <if condition="$sort_id neq ''">
                <a href="{:U('Index/pro',array('sort_id'=>$sort_id,'classify'=>$cla['id']))}">{$cla['name']}</a>
              <else/>
        	    <a href="{:U('Index/pro',array('classify'=>$cla['id']))}">{$cla['name']}</a>
              </if>
        	</volist>
        </div>
      </li>
      <!--<li><a href="pro.html" class="upDown up">销量</a></li>
      <li><a href="pro.html" class="upDown down">价格</a></li>-->
      </ul>
  </aside>
  <ul class="pro_ul">
  <volist name="goods" id="goo">
    <li>
      <div class="left_f"><a href="{:U('Index/pro_info',array('id'=>$goo['id']))}"><img src="__PUBLIC__/upload/product/{$goo['smallpic']}" alt="{$goo['title']}"/></a></div>
      <div class="right_f"><a href="{:U('Index/pro_info',array('id'=>$goo['id']))}">
        <p class="pro_title">{$goo['title']}</p>
        </a>
        <p class="pro_old_price hui">市场价：{$goo['price']}元</p>
        <p class="pro_now_price reb">现价:￥{$goo['price']}元</p>
      </div>
    </li>
    </volist>
  </ul>
  <p class="tips" style="text-align:center;padding:2em 0em;display:none;{$block}">{$tips}</p>
  <if condition="$goods neq ''">
  <div class="load_more_div load_list"><a href="javascript:void(0);" data-url="{:U('Index/pro_temp')}" data-class="{$classify_id}" data-sort="{$sort_id}" data-key="{$keyword}" data-page="{$page}">点击加载更多</a></div>
  </if>
</div>
<include file="Common:footer" />
</body>
</html>
