<include file="common:head" title="关于"/>
</head>
<body>
<header class="skin_topHeader">
  <div class="skin_topLeft"><a href="javascript:history.go(-1);" class="skin_back_icon"></a></div>
  <h1><span>关于</span></h1>
  <div class="skin_topRight"><a href="javascript:void(0);" class="skin_menu_icon showMenu" data-obj="menuSection"></a></div>
</header>
<include file="Common:link" />

<div class="pro_con">
  <article class="pro_info_article">
 	<p style="text-align:center;padding:2em 0em;">暂无信息</p>
   </article>
  
  <aside class="article_shace_aside">
  	<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#uuid=<你的UUID>&style=-1"></script>
	<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC3.js"></script>
  	<p class="article_shace_title"><span>分享文章</span></p>
  	<div class="article_shace_div">
		<div class="bshare-custom">
           <a title="分享到微信" class="bshare-weixin"><p>微信</p></a>
           <a title="分享到QQ" class="bshare-qqim"><p>QQ好友</p></a>
           <a title="分享到腾讯微博" class="bshare-qqmb"><p>腾讯微博</p></a>
           <a title="分享到新浪微博" class="bshare-sinaminiblog"><p>新浪微博</p></a>
		</div>
    </div>
    <script type="text/javascript" charset="utf-8">
		bShare.addEntry({
			title: "分享的标题，默认为当前页面标题",
			summary: "分享的文本摘要，默认为页面Meta标签中description的内容或者用户高亮的内容",
		});
	</script>
  </aside>
  
  
</div>

<include file="Common:footer" />
</body>
</html>
